.new-wish {
	min-height: 100vh;
	padding: 80px 30px 0px;
	background-color: #121212;
}

.remove-icon {
	padding-left: 10px;
	cursor: pointer;
}

.message-div {
	position: absolute !important;
	bottom: 10px !important;
	right: 10px !important;
}

.input-column {
	display: flex !important;
	flex-direction: column;
	width: fit-content !important;
}

.input-label {
	color: red;
}

.modal-grid {
	padding: 0px 10px 10px !important;
	margin: 0px !important;
	max-width: 100%;
	max-height: 100%;
}

.modal-row {
	padding: 0px !important;
}

.modal-column {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.modal-div {
	max-height: 300px;
	overflow-y: scroll;
}

.modal-header {
	margin: 0px !important;
	padding: 10px 20px !important;
}
